.main-container {
  grid-area: main;
  border: 2px solid var(--primary-red);
  padding: 20px;
  color: var(--primary-red);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-heading {
  line-height: 1;
  margin-bottom: 10px;
  /* margin-bottom: 100px; */
}

.list {
  margin-top: 100px;
  width: 80%;
}

.list-item {
  border: 1px solid var(--primary-red);
  padding: 5px 10px;
  border-radius: 10px;
}

.small {
  font-size: 1rem;
}

.new-project-btn,
.new-task-btn {
  font-size: 24px;
  font-family: inherit;
  background-color: #fefefe;
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
  padding: 5px 10px;
  border-radius: 10px;
}

/* .list li:hover,
.main-container button:hover {
  box-shadow: 3px 3px 4px var(--primary-red);
  cursor: pointer;
  text-decoration: underline;
} */

/* .list > li:hover:not(.task-form-container), */
/* .list > li.project:hover, */
.new-project-btn:hover,
.new-task-btn:hover {
  box-shadow: 3px 3px 4px var(--primary-red);
  cursor: pointer;
  text-decoration: underline;
}
