.main-container {
  grid-area: main;
  border: 2px solid var(--primary-red);
  padding: 20px;
  color: var(--primary-red);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-heading {
  line-height: 1;
  margin-bottom: 100px;
}

.list {
  width: 80%;
}

.list-item {
  border: 1px solid var(--primary-red);
  padding: 5px 10px;
  border-radius: 10px;
}
