.modal-overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 3;
  transition: transform 0.5s ease-in-out;
  /* transform: scale(0); */
  /* width: 80%; */
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(4px);
}

.modal-container.active {
  transform: translate(-50%, -50%) scale(1);
}

.new-project-form {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  /* grid-template: 1fr 1fr 1fr min-content / 1fr 1fr; */
  grid-template: repeat(4, min-content) / 1fr 1fr;
  gap: 20px;
  /* transform: scale(0); */
}

.new-project-form p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.new-project-form p label {
  min-width: max-content;
}

.new-project-form input {
  padding: 5px;
}

.project-name-container {
  grid-area: 2 / 1 / 3 / 3;
}

.project-deadline-container {
  grid-area: 3 / 1 / 4 / 3;
}

.btn-container {
  height: 100%;
  grid-area: 4 / 1 / 5 / 3;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* height: 2rem; */
  display: flex;
  gap: 10px;
}

.btn-container button {
  padding: 10px 0;
  font-size: 1.2rem;
}
