.task-form-container {
  border-radius: 10px;
}

.new-task-form {
  display: grid;
  grid-template: min-content 1fr 1fr 1fr 1fr min-content / 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.new-task-form p {
  display: flex;
  gap: 10px;
}

.new-task-control,
.new-project-control {
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 10px;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  font-family: inherit;
  width: 100%;
}

.description-container {
  grid-column: 1 / 3;
}

.deadline-container {
  grid-column: 3 / 5;
  place-self: center;
}

.priority-container {
  grid-column: 5 / 7;
}

.notes-container {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 6 / 7;
}

.notes-container textarea {
  padding: 10px;
  height: 300px;
}

.form-btn {
  /* height: 100%; */
  padding: 10px 0;
  width: 100%;
  place-self: center;
  border-radius: 10px;
  border: none;
  color: #fefefe;
  font-size: 1rem;
}

.form-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add {
  background-color: var(--complete-green);
  grid-area: 6 / 1 / 7 / 4;
}

.cancel {
  background-color: var(--primary-red);
  grid-area: 6 / 4 / 7 / 7;
}
