.list.multiple-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 200px;
}

.list-item.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-name {
  text-align: center;
}
