@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;300&family=Roboto:wght@300&display=swap');

@import './sidebar.css';
@import './main.css';
@import './task-list.css';
@import './project-list.css';
@import './new-task-form.css';
@import './new-project-form-modal.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary-red: #ef4444;
  --complete-green: #4ade80;
}

body {
  font-family: 'Poppins';
  font-size: 24px;
  padding: 10px;
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / max-content 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';
}

.wrapper > * {
  border-radius: 10px;
}

form {
  padding: 20px;
  border: 1px solid var(--primary-red);
  border-radius: 10px;
  background-color: #fefefe;
  color: var(--primary-red);
}

input:focus {
  outline: none;
}

h2 {
  line-height: 1;
}

/* form:hover,
form > *:hover {
  cursor: pointer;
} */
