.task-modal {
  background-color: #fefefe;
  border-radius: 10px;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 600px;
}

.notes {
  border-radius: inherit;
  border: inherit;
  padding: 10px;
  min-height: 400px;
}

.task-modal-btns-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.task-modal-btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.task-modal-btn.back,
.task-modal-btn.submit {
  background-color: #fefefe;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
}

.task-modal-btn.edit {
  background-color: #fefefe;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.task-modal-btn.delete,
.task-modal-btn.cancel-edit {
  background-color: var(--primary-red);
  border: 1px solid var(--primary-red);
  color: #fefefe;
}

.task-modal-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea[id='task-notes']:disabled,
select:disabled,
input:disabled {
  background-color: #fefefe;
  border-color: var(--primary-red);
  color: var(--primary-red);
}

.edit-task input:enabled,
.edit-task select:enabled,
.edit-task textarea[id='task-notes']:enabled {
  box-shadow: 3px 3px 4px var(--primary-red);
}

.full-length {
  width: 100%;
}

/* .edit-task input:focus {
  box-shadow: 3px 3px 4px var(--primary-red);
} */

.edit-task > p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column {
  flex-direction: column;
}

label[for='task-notes'] {
  align-self: flex-start;
}

textarea[id='task-notes'] {
  padding: 10px;
  font-size: 1.5rem;
  min-height: 400px;
}

.edit-task-control {
  font-size: 1.25rem;
  padding: 0 5px;
  border-radius: 10px;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  font-family: inherit;
}
