.list.single-project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li.task {
  position: relative;
}

li.task,
.new-task-btn {
  display: flex;
  align-items: center;
}

.new-task-btn {
  font-size: 24px;
  font-family: inherit;
  gap: 10px;
  justify-content: flex-end;
  background-color: #fefefe;
  color: var(--primary-red);
}

.list li:hover,
.new-task-btn:hover {
  box-shadow: 3px 3px 4px var(--primary-red);
  cursor: pointer;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--primary-red);
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.task-name {
  margin-right: auto;
}

.task-deadline {
  margin-right: 50px;
}

.task-priority {
  position: absolute;
  height: 100%;
  /* background-color: var(--primary-red); */
  width: 20px;
  right: 0px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  /* background-color: #38bdf8; */
  border-left: 1px solid var(--primary-red);
  /* opacity: 0.5; */
}

.task-priority.high {
  background-color: var(--primary-red-50);
}

.task-priority.medium {
  background-color: var(--blue-50);
}

.task-priority.low {
  background-color: var(--complete-green-50);
}

.list.single-project li.complete .checkbox {
  border-color: var(--complete-green);
  background-color: var(--complete-green);
}

.list.single-project li.complete .checkbox::before {
  position: absolute;
  content: '';
  background-image: url('../assets/icons/check.svg');
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}
